// Variables
$font-primary: "Quicksand", sans-serif;
$white: #ffffff;
$black: #000000;
$very-light-pink: #c7c7c7;
$text-input-field: #f7f7f7;
$hospital-green: #acd9b2;

$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;

// Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: $font-primary;
}
