$skin: #f6c09c;
$background: #ed4042;
$red: #ed2860;
$dark-red: #680524;
$black: #00243a;
$white: #fff;
$blue: #81ccf1;
$yellow: #efc66a;
$pink: #d8a6cb;
$dark-pink: #c59ece;
$purple: #9996cb;

$font-primary: "Roboto", sans-serif;
