.hero {
  background-image: url("../assets/img/cover.png");
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 83.5vh;

  &__title {
    font-family: $font-2;
    font-size: 6rem;
    color: $color-white;
    text-align: center;
    padding: 10rem 0;
  }

  &__button {
    display: block;
    width: 14rem;
    height: 6rem;
    margin: 0 auto;
    padding-top: 1.25rem;
    background-color: $color-primary;

    border: 2px solid $color-white;
    color: $color-black;
    font-size: 2.4rem;
    font-family: $font-1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
