// Variables
$font-1: "Bitter", serif;
$font-2: "Work Sans", sans-serif;

$color-primary: #47cfac;
$color-white: #f7f6f2;
$color-black: #000;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem == 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;

  background-color: black; // will remove
}
