@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 2rem;
    box-shadow: none;

    &--register {
      padding-top: 2rem;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem 1rem 2rem;
    margin-top: 2rem;
  }
}
// Iphone 6 7 8
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 2rem;
    box-shadow: none;

    &--title {
      margin-bottom: 2rem;
    }

    &--register {
      padding-top: 2rem;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem 1rem 2rem;
    margin-top: 2rem;
  }
}
